.lotusMain{
  #lotusColLeft{
    .dijitTreeNode {
      position: relative;
    }
    .lconnWikisNavTree {
      .dijitTreeRow {
        padding: 0 !important;
        margin: 0!important;
        span.dijitTreeContent {
          padding: $v-padding $h-padding !important;
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
          margin: 0 !important;
          display: block;
          border: none !important;
          transition:$border-slide!important;
          font-weight: normal !important;
          &:hover, &:focus {
            background-color:$background-side-hover !important;
            border: none !important;
            text-decoration: none !important;
          }
        }
      }
    }
    .lotusMenuSection > ul > li,
    .lotusMenuSection > div > div > ul,
    .lotusMenuSection > div > div > ul > li,
    > .lotusSection:not(#lconnTagCloudFilter) ul li,
    .lotusSection .dijitTreeNode {
        padding: 0 !important;
        margin: 0!important;
        a {
          padding: $v-padding $h-padding !important;
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
          margin: 0 !important;
          display: block;
          border: none !important;
          transition:$border-slide!important;
          font-weight: normal !important;
          &:hover, &:focus {
            background-color:$background-side-hover !important;
            border: none !important;
            text-decoration: none !important;
          }
        }
        .dijitTreeNodeSelected {
          border: none !important;
          span {
            border: none !important;
            padding: 0 !important;
          }
        }
        &.lotusSelected,
        &:focus {
          border: none !important;
          a {
            border: none !important;
            border-left:$b-thickness solid $brand-01 !important;
            padding-left:calc((#{$initial-l-padding} + #{$h-padding}) - #{$b-thickness})!important;
            font-weight: 700 !important;
            span {
              border: none !important;
              padding: 0 !important;
            }
          }
        }
      }
  }
  .lotusContent{
    padding-left:48px!important;
  }
}
.lotusInner > .lotusMenuSection{
  margin-bottom:0!important;
  padding-bottom:0!important;
}
//Changing tags, groups
.lotusMain #lotusColLeft {
  #lconnTagCloudFilter {
    > h2, > h3 {
      padding-left:42px!important;
      padding-right:$h-padding!important;
    }
  }
  .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter), 
  .lotusMenuSection {
    margin: 0 !important;
    h2, h3 {
      margin-left:0!important;
      padding-left:42px!important;
      padding-right:$h-padding!important;
      margin-bottom:0!important;
      padding-top:calc(#{$v-padding} + 2px)!important;
      padding-bottom:calc(#{$v-padding} - 2px)!important;
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):hover,
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):focus {
        background-color:$background-side-hover !important;
      }
      a.lotusArrow {
        margin-left: -($h-padding * .75);
      }
      a {
        font-weight: normal !important;
      }
      span {
        font-size: $body-sm-font-size !important;
        font-weight: normal !important;
      }
      
      > div {
        *:focus, *:active {
          outline: 0 !important;
        }
        padding: 0 !important;
      }
    }
    > div > .lotusMenuSubsection,
    > div > div,
    > div {
      padding: 0 !important;
      max-width: 100%;
      margin: 0 !important;
      ul li {
        padding-top:$v-padding!important;
        padding-bottom:$v-padding!important;
        padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;
        font-style: italic;
        a {
          padding: 0 !important;
          margin: 0 !important;
          font-style: normal;
        }
      }
    }
    .lotusSprite:focus {
      outline: 1px solid $brand-01 !important;
    }
    .dijitTreeNode .dijitTreeRow {
      padding-top:$v-padding!important;
      padding-bottom:$v-padding!important;
      padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;
      border:none!important;
      transition: font-weight .23s ease;
      &.dijitTreeNodeSelected {
        padding-left:calc(((#{$initial-l-padding} + #{$h-padding}) - #{$b-thickness}) + 21px)!important;
        transition:$border-slide;
        border-left:4px solid $brand-01 !important;
        a{
          margin-left:0!important;
        }
      }
      span,
      &.dijitTreeNodeSelected span {
        &:focus, &:active {
          outline: 0 !important;
        }
      }
      span.dijitTreeContent {
        padding: 0 !important;
      }
    }
  }

  .groupActionBar,
  div[id^="scGroupTree"] .lotusSectionBody .groupActionBar {
    padding-top:$v-padding!important;
    padding-bottom:$v-padding!important;
    padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;

    a {
      @include link-color('dark');
      font-weight: 500 !important;

      &:visited {
        @include link-color('dark');
      }

      &:active,
      &:hover,
      &:focus {
        @include link-underline('dark');
        text-decoration: underline !important;
        outline: none !important;
      }
    }
  }
}
.sc.hikari.lotusui30 #lotusColLeft .lotusSection .lotusSectionBody#lconnTagCloudContent,
.lotusMain #lotusColLeft > .lotusSection #lconnTagWidget {
  padding: $v-padding $h-padding !important;
  padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
  > div > div {
    margin: 0 !important;
  }
  .lotusTagCloud {
    display: inline-block !important;
    margin-right: 5px !important;
    ul li a {
      font-weight: 500 !important;
      &:hover {
        background: transparent !important;
        text-decoration: underline !important;
      }
    }
  }
  .lotusInlinelist.lotusActions {
    span, a:hover {
      text-decoration: underline !important;
    }
  }
}
