.lotusWidget_3columnsWithBannerTopMenuLayout .lotusMain,
.lotusWidget_3columnsTopMenuLayout .lotusMain {
  padding-left: 40px !important;
}
.lotusMain{
  padding: 40px 40px 24px 0 !important;
  #lotusColLeft:not(.wpthemeNarrow),
  .lotusColLeft:not(.wpthemeNarrow) {
    padding: 0 !important;
    margin: 0 !important;
    width: 240px !important;
    .dijitTreeNode {
      position: relative;
    }
    .lotusArrow:focus,
    .lotusSprite:focus,
    a[widgetid="tagsHelpLink"]:focus {
      outline: 1px solid $icon-default !important;
    }
    .lconnWikisNavTree {
      .dijitTreeRow {
        padding: 0 !important;
        margin: 0!important;
        span.dijitTreeContent {
          padding: $v-padding $h-padding !important;
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
          margin: 0 !important;
          display: block;
          border: none !important;
          transition:$border-slide!important;
          font-weight: normal !important;
          &:hover, &:focus {
            background-color:$background-side-hover !important;
            border: none !important;
            text-decoration: none !important;
          }
        }
      }
    }
    #sideNav, #lconnTagCloudFilter {
      margin: 0 !important;
    }
    div[id^="lconn_communities_catalog_widgets_PlacesNavigation_"] .lotusMenu li,
    .lotusMenuSection > ul > li,
    .lotusMenuSection > div > div > ul,
    .lotusMenuSection > div > div > ul > li,
    .lotusMenuSubsection > ul:not([aria-label="Subcommunities"]) > li,
    #viewAllMetricsDivID > ul > li,
    > .lotusSection:not(#lconnTagCloudFilter):not(#lconn_communities_catalog_widgets_TagFilter_0) ul li,
    #sideNav .lotusMenuSection .dijitTreeContainer .dijitTreeNode .dijitTreeContainer .dijitTreeNode,
    #sideNav > div > ul > li,
    .lotusChunk.lotusTiny.lotusRight,
    > .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > .lotusSectionBody > ul.lotusList.lotusEditable.lotusMeta.lotusTags > li,
    .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > div #allPagesList li + li {
        padding: 0 !important;
        margin: 0 !important;
        a, div.dijitTreeRow {
          padding: $v-padding $h-padding !important;
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
          margin: 0 !important;
          // display: block;
          border: none !important;
          transition:$border-slide!important;
          font-weight: normal !important;
          font-size: $body-sm-font-size;
          width: 100% !important;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          &:hover, &:focus {
            background-color:$background-side-hover !important;
            border: none !important;
            text-decoration: none !important;
          }
          &.dijitTreeRowSelected {
            border: none !important;
            border-left:$b-thickness solid $brand-01 !important;
            padding-left:calc((#{$initial-l-padding} + #{$h-padding}) - #{$b-thickness})!important;
            font-weight: 700 !important;
          }
        }
        &.dijitTreeNodeEXPANDED .dijitTreeRow + div > .dijitTreeNode,
        &.dijitTreeNodeNotLoaded .dijitTreeRow + div > .dijitTreeNode {
          > .dijitTreeRow {
            padding-left:calc( (2 * #{$initial-l-padding}) + #{$h-padding} )!important;
          }
          &.dijitTreeNodeEXPANDED .dijitTreeRow + div > .dijitTreeNode,
          &.dijitTreeNodeNotLoaded .dijitTreeRow + div > .dijitTreeNode {
            > .dijitTreeRow {
              padding-left:calc( (3 * #{$initial-l-padding}) + #{$h-padding} )!important;
            }
            &.dijitTreeNodeEXPANDED .dijitTreeRow + div > .dijitTreeNode,
            &.dijitTreeNodeNotLoaded .dijitTreeRow + div > .dijitTreeNode {
              > .dijitTreeRow {
                padding-left:calc( (4 * #{$initial-l-padding}) + #{$h-padding} )!important;
              }
            }
            &.dijitTreeNodeEXPANDED .dijitTreeRow + div > .dijitTreeNode,
            &.dijitTreeNodeNotLoaded .dijitTreeRow + div > .dijitTreeNode {
              > .dijitTreeRow {
                padding-left:calc( (5 * #{$initial-l-padding}) + #{$h-padding} )!important;
              }
            }
          }
        }
        .dijitTreeRow span > a {
          padding: 0 !important;
          margin: 0 !important;
          display: inline !important;
        }
        .dijitTreeNodeSelected {
          border: none !important;
          span {
            border: none !important;
            padding: 0 !important;
          }
        }
        .lotusDragHandle {
          margin-left: -28px !important;
        }
        &.lotusSelected,
        &:focus {
          border: none !important;
          a {
            border: none !important;
            border-left:$b-thickness solid $brand-01 !important;
            padding-left:calc((#{$initial-l-padding} + #{$h-padding}) - #{$b-thickness})!important;
            font-weight: 700 !important;
            span {
              border: none !important;
              padding: 0 !important;
            }
          }
        }
      }
      > .lotusSection:not(#lconnTagCloudFilter):not(#lconn_communities_catalog_widgets_TagFilter_0) {
        #section_comments,
        #section_pendingEntries,
        #section_draftEntries,
        #section_publishedEntries {
          &.lotusSectionBody ul li {
            padding-left: calc((#{$initial-l-padding} + #{$h-padding}))!important;
            
            > a {
              width: calc( 100% + (#{$initial-l-padding} + #{$h-padding})) !important;
              max-width: calc( 100% + (#{$initial-l-padding} + #{$h-padding})) !important;
              margin-left: calc( -1 * (#{$initial-l-padding} + #{$h-padding}))!important;
            }
          }
        }
      }
      > .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > .lotusSectionBody > ul.lotusList.lotusEditable.lotusMeta.lotusTags > li {
        line-height: 0 !important;
        font-size: 0 !important;
        a {
          font-size: $body-sm-font-size !important;
          line-height: 1.2em !important;
        }
      }
      .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > div #allPagesList {
        li:first-child {
          a, form {
            padding: $v-padding $h-padding !important;
            padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
            margin: 0 !important;
            font-weight: 500 !important;
            &:hover {
              background-color: transparent !important;
              text-decoration: underline !important;
            }
          }
          form {
            display: block !important;
            text-align: left !important;
            input[type="text"] {
              max-width: 85%;
            }
          }
        }
      }
      .lotusChunk.lotusTiny.lotusRight {
        display: block;
        text-align: left;
        float: none !important;
        a {
          font-weight: bold !important;
          &:hover, &:focus {
            text-decoration: underline !important;
            background-color: transparent !important;
          }
        }
      }
    .lotusMenu {
      margin: 0 !important;
    }
  }
}
.lotusInner > .lotusMenuSection{
  margin-bottom:0!important;
  padding-bottom:0!important;
}
//Changing tags, groups
.lotusMain #lotusColLeft:not(.wpthemeNarrow),
.lotusMain .lotusColLeft:not(.wpthemeNarrow) {
  & {
    #lconnTagCloudFilter > h2,
    #lconnTagCloudFilter > h3,
    #lconnTagCloudFilter > div > h2 {
      padding-left:42px!important;
      padding-right:$h-padding!important;
      padding-top:calc(#{$v-padding} + 2px)!important;
      padding-bottom:calc(#{$v-padding} - 2px)!important;
      a, span {
        font-weight: normal !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  #lconnTagCloudContent {
    margin: 0 !important;
    padding: 0 1.5rem 0 0 !important;
    a:focus, span:focus {
      outline: none !important;
    }
  }
  .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter),
  .lotusMenuSection,
  #lotusSidenav.lotusMenu,
  span.X-community-display-inline {
    margin: 0 !important;
    > h2, > h3,
    + div .lotusMenuSection > div h2,
    + div .lotusMenuSection > div h3,
    #section_memberPermissionsHelp {
      margin-left:0!important;
      padding-left:42px!important;
      padding-right:$h-padding!important;
      margin-bottom:0!important;
      padding-top:calc(#{$v-padding} + 2px)!important;
      padding-bottom:calc(#{$v-padding} - 2px)!important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):hover,
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):focus {
        background-color:$background-side-hover !important;
      }
      a {
        font-weight: normal !important;
      }
      span {
        font-size: $body-sm-font-size !important;
        font-weight: normal !important;
      }

      > div {
        *:focus, *:active {
          outline: 0 !important;
        }
        padding: 0 !important;
      }
    }
    #section_memberPermissionsHelp,
    #memberPermissionsHelp_section_hint_label + h2 {
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):hover,
      &:not([aria-labelledby^="lconnTagCloudFilter_"]):focus {
        background-color: transparent !important;
      }
    }
    > div > .lotusMenuSubsection,
    > div > div,
    > div :not(.personinlinemenu):not(ul[role="listbox"]) {
      padding: 0 !important;
      max-width: 100%;
      margin: 0 !important;
      ul li {
        padding-top:$v-padding!important;
        padding-bottom:$v-padding!important;
        padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;
        position: relative;
        min-height: 21px;
        font-size: $body-sm-font-size;
        a {
          padding-top:$v-padding!important;
          padding-bottom:$v-padding!important;
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;
          margin: 0 !important;
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 100%;
        }
        &.lotusSelected a {
          padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 17px)!important;
        }
      }
    }
    .lotusSprite:focus {
      outline: 1px solid $icon-default !important;
    }

    .dijitTreeNode .dijitTreeRow {
      padding-top:$v-padding!important;
      padding-bottom:$v-padding!important;
      padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;
      border:none!important;
      transition: font-weight .23s ease;
      &.dijitTreeNodeSelected {
        padding-left:calc(((#{$initial-l-padding} + #{$h-padding}) - #{$b-thickness}) + 21px)!important;
        transition:$border-slide;
        border-left:4px solid $brand-01 !important;
        a{
          margin-left:0!important;
        }
      }
      span,
      &.dijitTreeNodeSelected span {
        &:focus, &:active {
          outline: 0 !important;
        }
      }
      span.dijitTreeContent {
        padding: 0 !important;
      }
    }
  }

  .groupActionBar,
  div[id^="scGroupTree"] .lotusSectionBody .groupActionBar {
    padding-top:$v-padding!important;
    padding-bottom:$v-padding!important;
    padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;

    a {
      @include link-color('dark');
      font-weight: 500 !important;

      &:visited {
        @include link-color('dark');
      }

      &:active,
      &:hover,
      &:focus {
        @include link-underline('dark');
        text-decoration: underline !important;
        outline: none !important;
      }
    }
  }
  > .lotusSection #lconnTagWidget > div > div[dojoattachpoint="_relatedTagsSection"] {
    margin-top: 1rem !important;
  }
}
.lotusSectionBody {
  padding: 0 !important;
  margin: 0 !important;
}
.sc.hikari.lotusui30 #lotusColLeft:not(.wpthemeNarrow) .lotusSection .lotusSectionBody#lconnTagCloudContent,
.lotusMain #lotusColLeft:not(.wpthemeNarrow) > .lotusSection #lconnTagWidget,
.lotusMain .lotusColLeft:not(.wpthemeNarrow) > .lotusSection #lconnTagWidget_0 {
  padding-left:calc((#{$initial-l-padding} + #{$h-padding}))!important;
  padding-right: $h-padding;
  > div > div {
    margin: 0 !important;
  }
  .lotusTagCloud {
    display: inline-block !important;
    margin-right: 5px !important;
    ul li a {
      font-weight: 500 !important;
      padding: 0 !important;
      &:hover {
        background: transparent !important;
        text-decoration: underline !important;
      }
    }
  }
  .lotusInlinelist.lotusActions {
    span, a:hover {
      text-decoration: underline !important;
    }
  }
}
.lotusMain #lotusColLeft:not(.wpthemeNarrow) {
  #admin_menu.lotusArrow {
    margin-left: -($h-padding * .75) !important;
  }
}
#lotusColLeft:not(.wpthemeNarrow) .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > div#section_dateFilter .lotusChunk:not(.personinlinemenu) {
  margin-bottom: .5rem !important;
}
.lotusMain #lotusColLeft:not(.wpthemeNarrow) .lotusSection:not(#lconnTagCloudContent):not(#lconnTagCloudFilter) > div {
  &#section_entrymanagement,
  &#section_dateFilter {
    padding-top:$v-padding!important;
    padding-bottom:$v-padding!important;
    padding-left:calc((#{$initial-l-padding} + #{$h-padding}) + 21px)!important;

    input[type="text"]:not(.dijitArrowButtonInner):not(.personinlinemenu),
    .dijitReset.dijitInputInner {
      @include textinput();
      padding-right: 0 !important;
      width: 120px !important;
      min-width: 120px !important;
      height: 1.5rem !important;
    }
    .dijitArrowButtonContainer,
    .dijitArrowButtonInner {
      min-width: 20px !important;
      width: 20px !important;
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    #widget_startDate,
    #widget_endDate {
      position: relative;

      &, div {
        background: transparent !important;
        border: none !important;
      }
      .dijitDownArrowButton {
        position: absolute;
        right: 0;
        background-image: svg-url-with-replaced-fill($svg-chevron-down, '#000000', $icon-default) !important;
        background-repeat: no-repeat !important;
        background-size: 10px 10px !important;
        background-position: center center !important;
        cursor: pointer;
        z-index: 10;
      }
    }
  }
}
