div#list .lotusTable.lotusFixedTable.qkrFixedWidth .lotusSort{
  th{
    padding:0!important;
    padding-bottom:16px!important;
    a{
      padding:.5rem 1rem!important;
      @include tableHeader;
      transition:none!important;
      &.lotusActiveSort{
        padding-right:1.50rem!important;
        background-image:svg-url-with-replaced-fill($svg-chevron-down, '#000000', $icon-file-type-default) !important;
        background-size:8px 8px!important;
        background-position:90% calc(50% - 1px)!important;
        &:hover{
          background-image:svg-url-with-replaced-fill($svg-chevron-down, '#000000', $icon-white) !important;
        }
      }
    }
    &#qkrSortmodifier{
      padding:.5rem 1rem!important;
    }
    &#qkrSortmostpopular{
      width:100px!important;
    }
  }
}

#lotusMain{
  .lotusSummaryOn,
  .lotusDetailsOn {
    border-color:$border-selected!important;
    border-top:0px!important;
    border-bottom:2px solid!important;
    &:focus{
      outline:1px solid $border-selected!important;
    }
  }
}
