/* Border radius */
// Set how rounded you want borders to be on profile pictures, community images, and buttons

// Radius of people avatar images
$border-radius-avatar: 50% !important;

// Radius of community images in lists
$border-radius-comm-icon:50% !important;

// Radius of floating search button
$border-radius-search-button:50% !important;

// Radius of buttons
$border-radius-buttons:2rem !important;

// Radius of notification message icons
$border-radius-message-icon:50% !important;
$border-radius-message-blocks:20px !important;

$border-radius-tags: .75rem;
