//Header updates
.lotusTitleBar2 h2 a {
  color: $text-01 !important;
  @include font-size($apptitle...);
  padding-left: 7px;
}

//Button updates
.lotusActionBar.lotusBtnContainer {
  overflow: visible !important;
}
span#createPlaceButton.lotusBtn.lotusBtnAction {
  &, &:hover, &:focus {
    border: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  a img {
    filter: none !important;
    text-indent: -999px;
    background-image: svg-url-with-replaced-fill($svg-chevron-down, '#000000', $icon-white) !important;
    width: .5rem !important;
    height: .5rem !important;
    background-position: center center;
    margin: 0 0 .25rem .25rem !important;
  }
  &:hover a img {
    background-image: svg-url-with-replaced-fill($svg-chevron-down, '#000000', $icon-brand-01) !important;
  }
}

input[type="submit"]#addCommunityButton {
  @include btnprimary;
}

//Filter by tags updates
.lotusFilters[id^="lconn_communities_catalog_widgets_Breadcrumbs_"] {
  .lotusHeader {
    font-size: .75rem;
  }
  span:not(.lotusAltText), img {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    @include tags();
    cursor: default;
    margin: .15rem !important;

    .lotusDelete {
      margin-right: 0 !important;
      opacity: 1;
      background-image: svg-url-with-replaced-fill($svg-close-12px, '#000000', $icon-default) !important;
      background-size: .5625rem .5625rem;
      background-repeat: no-repeat;
      height: 100%;
      width: .5625rem;
      background-position: center 45% !important;
      cursor: pointer;
    }

    &:hover .lotusDelete {
      opacity: 1;
    }
  }
}

div[dojoattachpoint="zeroResultsNode"] {
  // there is no #000000 in the svg so I'm using that as a way not to really change the colors 
  background-image: svg-url-with-replaced-fill($svg-empty-state-communities, '#000000', $icon-default) !important;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 300px 300px;
  padding-top: 350px;
  padding-bottom: 70px;
  background-color: $background-main;
  position: relative;
  z-index: 90;
  text-align: center;
  @include font-size($caption...);
}
//List update
.lotusContent {
  div[id^="lconn_communities_catalog_widgets_ResultsDisplayWidget_"] {
    .placeRow {
      border-bottom:1px solid $border-separator;
      td[dojoattachpoint="communityIcon"] {
        vertical-align: middle;
        img {
          height:84px;
          width:84px;
        }
      }
      td {
        padding-top:20px;
        h4 {
          @include font-size($header...);
        }
        .lotusMeta {
          @include font-size($caption...);
        }
        div[dojoattachpoint="detailsSection"] p {
          @include font-size($body...);
        }
      }
    }
  }
}

// recommendations links color
div[id^="lconn_communities_catalog_widgets_RecommendationsBox_"] {
  h2, a {
    color: $text-01 !important;
  }
  a {
    font-weight: 600 !important;
  }
}