// Styles for People Avatars

//Avatars for people on search results page
.lconnStatusUpdatePhotoContainer img,
.lconnProfilesPhotoContainer.otherPeople64 img,
.lconnProfilesPhotoContainer.otherPeople64.otherPeople64-NoPhotoPerson55 img,
.lconn_profileImage img, //Directory search
#forum .lotusPostAuthorInfo .lotusPostAvatar img, //On forum posts
form[id^="lconn_profiles_invite_InvitePanel_"][id$="_networkInviteForm"] .profilePhoto img, //Invite to network
#lotusReportingStructure #reportStructureArea img.photo, //Reporting structure on profiles
#searchResultsTable img.photo, //Profiles Directory Search Results avatars
div[id^="lconn_wikis_widget_CommentsMentions_"] .lotusPostAvatar img //Wiki comments
{
  border-radius:$border-radius-avatar !important;
}

//Round community icons in search panel - special case
.lconn_personContainer.compact .lconn_profileImage img:not(.lconn-ftype32):not([class^="lconnSprite-"]):not(.lconn_userImage) {
  border-radius:$border-radius-comm-icon !important;
}

//Size of some avatars
#searchResultsTable img.photo, //Profiles Directory Search Results avatars
#lotusReportingStructure #reportStructureArea img.photo, //Reporting structure
#forum .lotusPostAuthorInfo .lotusPostAvatar img //Avatars on forum posts
{
  @include avatarSize($size3);
}

//Similar blogs and ideation blogs widgets
#section_relatedblogs,
#section_relatedideationblogs,
#section_relatedentries,
#section_relatedideas tr {
  td:first-of-type {
    width: 48px;
    padding:0 5px;
    img {
      border-radius:$border-radius-avatar !important;
      @include avatarSize($size2);
    }
  }
}

// "invite to network"
form[id^="lconn_profiles_invite_InvitePanel_"][id$="_networkInviteForm"] {
	.profilePhoto {
		padding-right: .75rem;
	}
}

//Community icons in Communities landing page
.lotusContent {
  div[id^="lconn_communities_catalog_widgets_ResultsDisplayWidget_"] {
    .placeRow td[dojoattachpoint="communityIcon"] img {
      border:1px solid $border-separator;
    }
  }
}

// Style person name
a.lotusPerson,
a:visited.lotusPerson,
.vcard a.fn.url,
.panelContent .header1 a.lotusPerson, {
  color:$text-01 !important;
}

//Contacts cards - still some styling in _contactcards.scss
