input[type=checkbox]{
  height:16px!important;
	width:20px!important;
	//overflow:hidden!important;
	// added for Safari Issue
	position:relative;
  //////////////////////////
	transition:none!important;
  -webkit-appearance: none;
  border: none !important;
  // to address issue 1185
  vertical-align: bottom;
  &::after{
		content:""!important;
		// added for Safari Issue
		position:absolute;
		left:1px;
		//////////////////////////
		display:inline-block!important;
		width:12px!important;
		height:12px!important;
		z-index:99!important;
		border-radius:2px!important;
		transition:none!important;
    background-color: $checkbox-background !important;
    border: 2px solid $checkbox-border !important;
    background-position:0 0!important;
	}
	&:hover::after,&:focus::after {
		content:""!important;
		position:absolute;
    outline:1px solid $checkbox-border !important;
    outline-offset: 2px !important;
	}
  &:focus {
    outline:none !important;
  }
}

.ic-thumb-widget-flip-card .card-back .check,
.ic-thumb-widget-flip-card .card-front .check{
	text-shadow:none!important;
	background-color: $checkbox-background !important;
	border: 2px solid $checkbox-border !important;
	border-radius:2px!important;
	transition:none!important;
	&:hover, &:focus {
		//border: 2px solid $checkbox-border-checked !important;
    outline:1px solid $color-white !important;
    outline-offset: 2px !important;
	}
}
input[type=checkbox]:checked::after,
.ic-thumb-widget-flip-card-is-checked .card-back .check,
.ic-thumb-widget-flip-card-is-checked .card-front .check {
	border-color:$checkbox-border-checked !important;
  background:svg-url-with-replaced-fill($svg-checkbox-background, '#000000', $checkbox-background-checked)!important;
	transition:none!important;
}
input[type=checkbox]:checked {
  &:hover::after,&:focus::after {
    outline-color: $checkbox-border-checked !important;
  }
}

tbody .lotusFirstCell{
	vertical-align:middle;
}
.lconnFilesTreeCheckbox input{
	margin-top:0px!important;
}
/*For Files Tile view quick fix put this code somewhere more relevant once its done*/
.ic-thumb-widget-flip-card-is-checked .card-front, .ic-thumb-widget-flip-card-is-checked .card-back{
	box-shadow:0 0 0 2px $checkbox-border-checked !important;
}
.card-back .check{
	background-image:none!important;
}
.lotusLeft.lconnSelectAllContainer{
	position:relative!important;
	top:-3px!important;
}

// sub community add members form
#memberAddFormDiv #addAllParentMembersRow > td {
  padding-left: 2px;

  input[type="checkbox"], label {
    display: inline-block;
    vertical-align: middle;
  }
}
