//Wiki list of pages
div#list .lotusTable.lotusFixedTable.qkrFixedWidth {
  @include datatable(2);
  tr:not(.lotusDetails):not(.lotusSort) {
    border-top:1px solid $border-separator;
  }
  tr.lotusDetails {
    td {
      padding-top:0px !important;
    }
  }
  tr td {
    background-color:$background-main !important;
  }
  tr:last-of-type {
    border-bottom:1px solid $border-separator;
  }
}

//Blog list of entries
.blog.admin {

  .blogsFixedTable, .lotusTable {
    @include datatable;
  }

}

//This is the icons that appear for organizing the information in the Data Tables.
#qkrViewControl.lotusViewControl, .blog .lotusViewControl {

  .lotusTileOn,
  .lotusTileOff,
  .lotusDetailsOn,
  .lotusDetailsOff,
  .lotusSummaryOn,
  .lotusSummaryOff {

    padding-bottom: 2px!important;
    background-size: 18px 18px!important;
    background-position: 2px 2px !important;
    border: 1px solid transparent!important;
    border-bottom: 2px solid transparent!important;
    padding: 2px!important;
    margin:3px!important;

    &:focus {
      outline:1px solid $border-selected!important;
      outline-width:1px!important;
      outline-style:solid!important;
    }

  }

  .lotusView.lotusTileOff,
  .lotusView.lotusDetailsOff,
  .lotusView.lotusSummaryOff {
    border-color: transparent!important;
  }

  .lotusTileOn,
  .lotusDetailsOn,
  .lotusSummaryOn {
    border-bottom: 2px solid $border-selected!important;
    top:0!important;
    bottom:0!important;
  }
  .lotusTileOff,
  .lotusTileOn {
    background-image: svg-url-with-replaced-fill($svg-tile-view, '#000000', $icon-default) !important;
  }
  .lotusDetailsOff,
  .lotusDetailsOn {
    background-image: svg-url-with-replaced-fill($svg-details-view, '#000000', $icon-default) !important;
  }
  .lotusSummaryOn,
  .lotusSummaryOff {
    background-image: svg-url-with-replaced-fill($svg-summary-view, '#000000', $icon-default) !important;
  }
}


//Forums
#dfForumList,// list of forums
#dfTopicList, //List of forum topics in community
#dfOpenQuestionList, //List of open forum questions in community
#dfAnsweredQuestionList, //List of answered forum questions in community
#topicList { //List of forum topics inside forum
  .lotusTable{
    @include datatable(2);
  }
}
//Align labels on not sorting columns on list of forum topics inside forum
#topicList .lotusTable tr.lotusSort {
  #topics { //Topic table header on forum list inside forum
    padding:28px 16px 20px 46px!important;
    border:1px solid transparent!important;
    border-bottom:1px solid $border-selected!important;
  }
}
//Align labels on not sorting columns on list of forum topics in community
#dfTopicList
,#dfOpenQuestionList,
#dfAnsweredQuestionList {
  .lotusTable tr.lotusSort {
    td:first-of-type { //Topic table header in forum list in community
      padding:28px 16px 20px 46px!important;
    }
    td:nth-of-type(2) { //Forum table header in forum list in community
      padding:28px 16px 20px 0px !important;
    }
  }
}

// communities wiki versions
#versionHistory .lotusVersions .lotusTable,
#attachments .lotusTable {
  @include datatable();
}

// bookmarks list
#bookmarkContentAreaSub {
  .lotusTable {
    > tbody > tr:nth-child(3n-2):not(:first-child),
    form[name="bookmarkEditForm"] fieldset {
      border-top: 1px solid $border-separator !important;

      .lotusFormFooter {
        border: 0 !important;
      }
    }
    .commFocusML {
      &, & span { color: $text-01 !important; }
    }
    .lotusFirstCell,
    .lotusAlignRight.lotusLastCell {
      padding: 1rem 0 !important;
    }
    .lotusDetails .lotusFirstCell {
      padding-top: 0 !important;
    }
    form {
      margin-top: 0 !important;
    }
  }
}

// calendar events list
#calendar_view div[id$="listView"] {
  .lotusTable {
    margin-top: 1rem;

    > tbody > tr:nth-child(2n-1):not(:first-child) {
      border-top: 1px solid $border-separator !important;
    }
    .lotusTitle a {
      color: $text-01 !important;
    }
    .lotusFirstCell,
    .lotusFirstCell + td,
    .lotusAlignRight.lotusLastCell {
      padding: 1rem 0 !important;
    }
    tr.lotusDetail td {
      padding-top: 0 !important;
    }
  }
}

// ideation blog lists
#ideatoins_main {
  .lotusTable {
    margin-top: 1rem;

    > tbody > tr:nth-child(2n-1):not(:first-child) {
      border-top: 1px solid $border-separator !important;
    }
  }
  .lotusFirstCell,
  .lotusAlignRight.lotusLastCell {
    padding: 1rem 0 !important;
  }
}

// surveys list
div[id^="com_ibm_form_integrations_formiwidget_widget_SurveysFullpageMode"] {
  .lotusTable {
    margin-top: 1rem;

    > tbody > tr:nth-child(2n-1):not(:first-child) {
      border-top: 1px solid $border-separator !important;
    }
  }
  td {
    padding: 1rem 0 !important;
  }
}
