.lotusui30 .lotusTitleBar2 .lotusWrapper,
.lotusui30 .lotusTitleBar .lotusRightCorner {
  max-width: 100% !important;
  padding-left: 2.35rem !important;
  padding-right: 2.35rem !important;
  
  .lotusColLeft:after {
    left: 0;
  }
  
  a {
    padding: 0 !important;
  }
}