//This is the notice bar that Admin can display at the top of the home page
.bhcNotice, .bhcNoticePicker {
  background-color:$background-main !important;
  background:$background-main !important;
}
.bhcNotice {
  border-bottom:1px solid $border-separator;
}
