// normal tabs and app_palette_modal _tabs
.lotusTabContainer,
.app_palette_modal_header {
  border-bottom: 1px solid $color-gray-10 !important;
  font-size: $tab-font-size !important;
  font-weight: 500 !important;

  .lotusTabs,
  .app_palette_modal_tabs_ul {
    li {
      margin: 0 !important;
      padding: 0.625rem 0 0.375rem !important;
      font-size: inherit !important;
      font-weight: inherit !important;

      &:hover, &:hover a, &:focus, &:focus a, &:active, &:active a {
        text-decoration: none !important;
      }

      #about_link,
      #share_link,
      a._linkHolder.lotusLeft {
        &:hover {
          color: $text-03 !important;
        }
        &:hover, &:active, &:focus {
          font-weight: 500 !important;
        }
      }

      + li {
        margin-left: 1rem !important;
      }

      &.lotusSelected  {
        border-bottom: 4px solid $border-selected !important;
        a {
          strong {
            color: $text-01 !important;
          }
          &:active, &:focus {
            text-decoration: none !important;
          }
        }
      }

      &:focus {
        outline: none !important;
      }

      a {
        padding: 0.5rem 1rem !important;
        margin: 0 !important;
        font-size: inherit !important;
        border-radius: $border-radius-tabs !important;
        border: 1px solid transparent !important;
        &, &:visited {
          &, strong {
            color: $text-02 !important;
          }
        }
        strong {
          font-weight: 500 !important;
          color: $text-02 !important;
          padding-bottom: 0px !important;
        }
        &:focus {
          color: $text-02 !important;
          background-color: transparent !important;
          border-color: $btn-secondary-outline-hover !important;
        }
        &:hover {
          background-color: $btn-secondary-fill-hover !important;
          border-color: $btn-secondary-outline-hover !important;
          color:$text-03 !important;
          strong {
            color: $text-03 !important;
          }
        }
      }
    }
  }
}

// share a file
.dijitTabContainer,
div[id^="lconn_share_widget_Dialog_"] {
  .switchPane { margin-bottom: 1rem !important; }
  .dijitTabListContainer-top,
  .switchContainer {
    border-bottom: 1px solid $color-gray-10 !important;
    font-size: $tab-font-size !important;
    font-weight: 500 !important;
    height: auto !important;
    background: none !important;

    .dijitTabListWrapper {
      position: relative !important;
      left: auto !important;
    }

    .lconnPickerSourceSwitchingContentArea, fieldset {
      padding: 0 !important;
      margin: 0 !important;
    }

    div[role="tablist"],
    .tablist, .lconnPickerSourceToCheck, .lconnPickerSourceLabel, .lconnPickerSourceToCheck span {
      font-size: inherit !important;
      font-weight: inherit !important;
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      position: relative !important;
    }
    > div {
      height: auto !important;
    }
    .tablist > div {
      display: inline-block !important;
    }
    // li
    .lconnPickerSourceToCheck {
        margin: 0 !important;
        padding: 0.625rem 0 0.375rem !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        display: inline-block !important;

        + .lconnPickerSourceToCheck {
          margin-left: 1rem !important;
        }

    }
    // tab list items styling (a):
    .dijitTabInner.dijitTabContent,
    .lconnPickerSourceToCheck .lconnPickerSourceLabel {
      display: inline-block !important;
      position: relative;
      padding: 0.5rem 1rem 0.5rem 2.25rem !important;
      margin: 0 !important;
      font-size: inherit !important;
      color: $text-02 !important;
      border-radius: 2px;
      border: 1px solid transparent !important;
      font-weight: 500 !important;
      width: auto !important;
      .lconnPickerSourceLabelSpan {
        color: inherit !important;
      }
      &:hover {
        color: $text-03 !important;
        background-color: $btn-secondary-fill-hover !important;
        border-color: $btn-secondary-outline-hover !important;
        font-weight: 500 !important;
      }
      &:focus {
        color: $text-01 !important;
        background-color: transparent !important;
        border-color: $btn-secondary-outline-hover !important;
        outline: none !important;
      }
      img {
        left: .75rem;
        position: absolute;
      }
    }
    // selected styling:
    .pickerSourceChecked {
      border-bottom: 4px solid $border-selected !important;
      background-image: none !important;
      .lconnPickerSourceLabel {
        color: $text-01 !important;
        &:hover {
          color: $text-03 !important;
          background-color: $btn-secondary-fill-hover !important;
          border-color: $btn-secondary-outline-hover !important;
          font-weight: 500 !important;
        }
        &:focus {
          color: $text-01 !important;
          background-color: transparent !important;
          border-color: $btn-secondary-outline-hover !important;
        }
      }
    }
  }
}

// forum reply -> insert image -> file picker dialog
// these tabs hide the icons already so we should fix the left padding
.dijitTabContainer .dijitTabListContainer-top {
  padding: 0 !important;
  div[role="tablist"] {
    padding-bottom: calc(.375rem + 3px) !important;
    .dijitTabInner.dijitTabContent {
      padding-left: 1rem !important;

      + .dijitTabInner.dijitTabContent {
        margin-left: 1rem !important;
      }
      &.dijitTabChecked {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          display: block;
          border-bottom: 4px solid $border-selected !important;
          top: 100%;
          margin-top: .375rem;
          left: -1px;
          width: calc(100% + 2px);
          height: 0;
        }
        background-image: none !important;
        .lconnPickerSourceLabel {
          color: $text-01 !important;
          &:hover {
            color: $text-03 !important;
            background-color: $btn-secondary-fill-hover !important;
            border-color: $btn-secondary-outline-hover !important;
            font-weight: 500 !important;
          }
          &:focus {
            color: $text-01 !important;
            background-color: transparent !important;
            border-color: $btn-secondary-outline-hover !important;
          }
        }
      }
    }
  }
}

// Survey settings dialog
div.lconn-survey_dialog {
  .dijitTabContainer .dijitTabListContainer-top {
    padding: 0 !important;
    div[role="tablist"] {
      padding-bottom: calc(.375rem + 3px) !important;
      .dijitTabInner.dijitTabContent {
        padding-left: 1rem !important;
        background-image: none !important;
        color: $text-01 !important;
        + .dijitTabInner.dijitTabContent {
          margin-left: .5rem !important;
        }
        &.dijitTabChecked {
          position: relative;
        }
        &:hover {
          color: $text-03 !important;
          background-color: $btn-secondary-fill-hover !important;
          border-color: $btn-secondary-outline-hover !important;
          font-weight: 500 !important;
        }
        &:focus {
          color: $text-01 !important;
          background-color: transparent !important;
          border-color: $btn-secondary-outline-hover !important;
        }
        span.tabLabel {
          color: inherit !important;
          border: none !important;
          font-weight: 500 !important;
          &:focus {
            outline: 0 !important;
          }
        }
      }
    }
  }
  .lotusDialogFooter {
    padding: 1rem 1rem !important;
  }
}


//Orient Me tabs found in apps/home/_tabs.scss
//Communities tabs found in apps/communities/_appNavigator.scss
