img.lconnPickerSourceLabelIconCloud{
  background-image:svg-url-with-replaced-fill($svg-icon-files, '#000000', $icon-default) !important;
  background-size:16px 16px!important;
  background-position:0px 0px!important;
}
img.lconnPickerSourceLabelIconUpload{
  background-image:svg-url-with-replaced-fill($svg-icon-upload, '#000000', $icon-default) !important;
  background-size:16px 16px!important;
  background-position:0px 0px!important;
}
.lconnPickerSourceToCheck > div:not(:focus):hover{
  img.lconnPickerSourceLabelIconCloud{
    background-image:svg-url-with-replaced-fill($svg-icon-files, '#000000', $icon-white) !important;
  }
  img.lconnPickerSourceLabelIconUpload{
    background-image:svg-url-with-replaced-fill($svg-icon-upload, '#000000', $icon-white) !important;
  }
}
#body .lotusDialogWrapper{
  .lotusDialogClose:focus{
    outline:1px solid $border-selected!important;
    outline-offset: 1px!important;
  }
}
