.lotusSort{
  ul li{
    border:none!important;
    a{
      color: $text-02 !important;
    }
    // .lotusActiveSort{
    //   color: $text-04 !important;
    // }
  }
}
#body #list ul[dojoattachpoint="topPageNavigateNode"],
#body #list ul[dojoattachpoint="bottomPageNavigateNode"]{
  li > a.numShape{
    color: $text-04 !important;
    text-decoration: none!important;
    &:hover{
      text-decoration: underline!important;
    }
  }
}
#body #list ul[dojoattachpoint="topPageNavigateNode"] li > a.numShape:focus, #body #list ul[dojoattachpoint="bottomPageNavigateNode"] li > a.numShape:focus{
    text-decoration:underline!important;
}
#body #lotusContentSceneActions{
  a.lotusSprite.lotusView{
    margin:3px;
    &:focus{
      outline:1px solid $border-selected!important;
    }
  }
}
