//TABS USED ON ORIENT ME PAGE
//Orient Me tabs
.bx--tabs {
  font-size: $tab-font-size !important;
  font-weight: 500 !important;

  .bx--tabs__nav-item {
    margin: 0 !important;
    padding: 0.625rem 0 0.375rem !important;
    font-size: inherit !important;
    font-weight: inherit !important;

    a.bx--tabs__nav-links {
      transition: none !important;
    }

    + li {
      margin-left: 1rem !important;
    }

    &.bx--tabs__nav-item--selected  {
      border-bottom: 4px solid $border-selected !important;
      a {
        color: $text-01 !important;
        &:hover {
          color: $text-03 !important;
          background-color: $btn-secondary-fill-hover !important;
          border-color: $btn-secondary-outline-hover !important;
          font-weight: 500 !important;
          text-decoration: none !important;
        }
        &:focus {
          color: $text-01 !important;
          background-color: transparent !important;
          border-color: $btn-secondary-outline-hover !important;
        }
        &:active, &:focus {
          text-decoration: none !important;
        }
      }
    }

    &:focus {
      outline: none !important;
      a {
        color: $text-01 !important;
        background-color: transparent !important;
        border: 1px solid $btn-secondary-outline-hover !important;
      }
    }

    a {
      padding: 0.5rem 1rem !important;
      margin: 0 !important;
      font-size: inherit !important;
      color: $text-02 !important;
      border-radius: $border-radius-tabs !important;
      border: 1px solid transparent !important;
      font-weight: 500 !important;
      &:hover {
        color: $text-03 !important;
        background-color: $btn-secondary-fill-hover !important;
        border-color: $btn-secondary-outline-hover !important;
        font-weight: 500 !important;
        text-decoration:none !important;
      }
      &:focus {
        color: $text-01 !important;
        background-color: transparent !important;
        border-color: $btn-secondary-outline-hover !important;
        text-decoration:none !important;
      }
    }
  }
}
