/*GENERAL STYLES*/
body {
  color:#000000;
  font-family:'IBM Plex Sans', "Helvetica Neue", Arial, sans-serif;
}
h1 {
  font-size: 2.375rem;
  line-height: 48px;
  font-weight:600;
  color:#3c6df0;
}
h2 {
  font-size: 1.75rem;
  line-height: 32px;
  font-weight: 600;
  border-bottom:1px solid #f1f1f1;
  padding-bottom:10px;
  padding-top:30px;
}
h3 {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 600;
}
h4 {
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: 600;
}
p, li {
  font-size:1.25rem;
  font-weight:400;
}
a {
  color:#3c6df0;
  text-decoration:none;
}
a:hover, a:focus {
  text-decoration:underline;
}
.code {
  background-color:#f1f1f1;
  padding:20px 20px;
  font-family: Courier, 'New Courier', monospace;
}

/*SPECIFIC STYLES*/
/*SIDE PADDING*/
.aboutHead .headText,
.breadcrumb,
.aboutContent {
  padding-left:15%;
  padding-right:15%;
}


/*HEADER*/
.aboutHead {
  background-color:#3c6df0;
}
.aboutHead .headText {
  padding-top:50px;
  padding-bottom:50px;
}
.aboutHead .headHero {
  background-image: url(./img/intro.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  max-height: 250px;
  height:40vh;
  postion:absolute;
  top:200px;
}
.aboutHead h1 {
  color:#ffffff;
}

/*BREADCRUMB*/
.breadcrumb {
  padding-top:10px;
  padding-bottom:10px;
}
.breadcrumb p {
  margin:10px 0px 0px 0px;
  font-size:0.875rem;
  color:#777677;
}
.breadcrumb a {
  color:#777677;
  text-decoration:none;
}
.breadcrumb a:hover, .breadcrumb a:focus {
  text-decoration:underline;
}

/*CONTENT*/
.aboutContent {
  padding-top:30px;
  padding-bottom:70px;
}

/*SPECIAL PLACEMENT*/
/*FOOTER*/
.aboutFooter {
  padding:10px 0px 30px 0px;
  border-top:1px solid #f1f1f1;
  width:100%;
  margin:auto;
  text-align:center;
}
.aboutFooter p {
  font-size:0.875rem;
  color:#777677;
}
/*TOC*/
.toc {
  float:right;
  background-color:#f1f1f1;
  padding:20px 30px 20px 20px;
  margin:0px 0px 0px 20px;
}
